@import url(https: //fonts.googleapis.com/css?family=Raleway:300);

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #342643;
    height: 100%;
    color: white;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin: 1px;
    max-width: 10%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
    color: #342643;
    border-radius: 26px;
    transition: all 0.2s ease-in-out;
}

.container {
    margin: auto;
    max-width: 80%;
    text-align: center;
    display: block;
}

button {
    margin: 30px;
}

button {
    background-color: #342643;
    font-weight: 700;
    border: 2px solid white;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    border-radius: 26px;
    transition: all 0.2s ease-in-out;
    margin: 30px;
}

button:hover {
    background-color: white;
    color: #342643;
    border: 2px solid #342643;
    transition: all 0.2s ease-in-out;
}

.content {
    margin: auto;
    display: flex;
}

.content > div {
    margin-left: 8%;
    margin-right: 8%;
}

#camera {
    max-width: 50%;
    float: left;
}

#video {
    background-color: gray;
}

#pic {
    float: right;
    max-width: 50%;
}
