@import url(https: //fonts.googleapis.com/css?family=Raleway:300);

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #342643;
    height: 100%;
    color: white;
    overflow: hidden;
}

.container {
    padding: 3%;
    margin: auto;
    max-width: 80%;
    text-align: center;
    display: block;
}

.gallery {
    padding: 40px 0 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.gallery > img {
    float: left;
    margin: 0 0.877192825%;
    overflow: hidden;
    max-width: 50%;
}
