<html>

<head>
    <title>Re:Define</title>
    <link rel="stylesheet" type="text/css" href="../static/css/gallery.css" />
</head>

<body onload="getImages({{count}});">
    <div class="container">
        <h1>Gallery</h1>
        <section class="gallery">
            <div class="list">
                <img src="https://cdn.dribbble.com/users/545884/screenshots/3981307/lorena2.png" alt="">
            </div>
        </section>
    </div>
    <script src="../static/scripts/gallery.js"> </script>
</body>

</html>
