<html>

<head>
    <title>Re:Define</title>
    <link rel="stylesheet" type="text/css" href="../static/css/gallery.css" />
</head>

<body onload="getImages({{count}});">
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/camera">Camera</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <!--        <li><a href="about.asp">About</a></li>-->
    </ul>
    <div class="container">
        <h1>Gallery</h1>
        <section class="gallery">
            <div class="list">
            </div>
        </section>
    </div>
    <script src="../static/scripts/gallery.js"> </script>
</body>

</html>
