<html>

<head>
  <title>Re:Define</title>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
</head>

<body>

  <div class="text-wrapper">
    <div class="title" data-content="Re:Define">
     Re:Define 
    </div>

    <div class="subtitle" data-content="Your portrait painted by famous artists">
    Your portrait painted by famous artists
    </div>

    <div class="buttons">
      <form>
        <input type="button" value="Camera" onclick="window.location.href='/camera'" />
        <input type="button" value="Gallery" onclick="window.location.href='/gallery'" />
      </form>
    </div>
  </div>
</body>

</html>
