@import url(https://fonts.googleapis.com/css?family=Raleway:300);

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: url("bg.gif") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  background-color: #342643;
  height: 100%;
}

.text-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 9em;
  font-weight: 700;
  color: white;
  position: relative;
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  color: white;
  position: relative;
  text-align: center;
}

.buttons {
  margin: 30px;
}

input[type=button] {
  background-color: #342643;
  font-weight: 700;
  border: 2px solid white;
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  color: white;
  border-radius: 26px;
  transition: all 0.2s ease-in-out;
  margin: 30px;
}

.buttons input[type=button]:hover {
  background-color: white;
  color: #342643;
  border: 2px solid #342643;
  transition: all 0.2s ease-in-out;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(88px, 9999px, 102px, 0);
  }

  5% {
    clip: rect(159px, 9999px, 34px, 0);
  }

  10% {
    clip: rect(11px, 9999px, 11px, 0);
  }

  15% {
    clip: rect(137px, 9999px, 97px, 0);
  }

  20% {
    clip: rect(95px, 9999px, 195px, 0);
  }

  25% {
    clip: rect(186px, 9999px, 133px, 0);
  }

  30% {
    clip: rect(152px, 9999px, 120px, 0);
  }

  35% {
    clip: rect(130px, 9999px, 115px, 0);
  }

  40% {
    clip: rect(41px, 9999px, 133px, 0);
  }

  45% {
    clip: rect(194px, 9999px, 145px, 0);
  }

  50% {
    clip: rect(197px, 9999px, 79px, 0);
  }

  55% {
    clip: rect(77px, 9999px, 131px, 0);
  }

  60% {
    clip: rect(173px, 9999px, 154px, 0);
  }

  65% {
    clip: rect(12px, 9999px, 55px, 0);
  }

  70% {
    clip: rect(77px, 9999px, 152px, 0);
  }

  75% {
    clip: rect(187px, 9999px, 66px, 0);
  }

  80% {
    clip: rect(9px, 9999px, 9px, 0);
  }

  85% {
    clip: rect(165px, 9999px, 112px, 0);
  }

  90% {
    clip: rect(28px, 9999px, 46px, 0);
  }

  95% {
    clip: rect(17px, 9999px, 81px, 0);
  }

  100% {
    clip: rect(30px, 9999px, 111px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(88px, 9999px, 102px, 0);
  }

  5% {
    clip: rect(159px, 9999px, 34px, 0);
  }

  10% {
    clip: rect(11px, 9999px, 11px, 0);
  }

  15% {
    clip: rect(137px, 9999px, 97px, 0);
  }

  20% {
    clip: rect(95px, 9999px, 195px, 0);
  }

  25% {
    clip: rect(186px, 9999px, 133px, 0);
  }

  30% {
    clip: rect(152px, 9999px, 120px, 0);
  }

  35% {
    clip: rect(130px, 9999px, 115px, 0);
  }

  40% {
    clip: rect(41px, 9999px, 133px, 0);
  }

  45% {
    clip: rect(194px, 9999px, 145px, 0);
  }

  50% {
    clip: rect(197px, 9999px, 79px, 0);
  }

  55% {
    clip: rect(77px, 9999px, 131px, 0);
  }

  60% {
    clip: rect(173px, 9999px, 154px, 0);
  }

  65% {
    clip: rect(12px, 9999px, 55px, 0);
  }

  70% {
    clip: rect(77px, 9999px, 152px, 0);
  }

  75% {
    clip: rect(187px, 9999px, 66px, 0);
  }

  80% {
    clip: rect(9px, 9999px, 9px, 0);
  }

  85% {
    clip: rect(165px, 9999px, 112px, 0);
  }

  90% {
    clip: rect(28px, 9999px, 46px, 0);
  }

  95% {
    clip: rect(17px, 9999px, 81px, 0);
  }

  100% {
    clip: rect(30px, 9999px, 111px, 0);
  }
}

.subtitle:after, .title:after {
  content: attr(data-content);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(105px, 9999px, 178px, 0);
  }

  5% {
    clip: rect(16px, 9999px, 83px, 0);
  }

  10% {
    clip: rect(173px, 9999px, 86px, 0);
  }

  15% {
    clip: rect(54px, 9999px, 18px, 0);
  }

  20% {
    clip: rect(183px, 9999px, 121px, 0);
  }

  25% {
    clip: rect(103px, 9999px, 99px, 0);
  }

  30% {
    clip: rect(55px, 9999px, 37px, 0);
  }

  35% {
    clip: rect(131px, 9999px, 161px, 0);
  }

  40% {
    clip: rect(125px, 9999px, 39px, 0);
  }

  45% {
    clip: rect(193px, 9999px, 192px, 0);
  }

  50% {
    clip: rect(37px, 9999px, 200px, 0);
  }

  55% {
    clip: rect(155px, 9999px, 118px, 0);
  }

  60% {
    clip: rect(194px, 9999px, 97px, 0);
  }

  65% {
    clip: rect(166px, 9999px, 20px, 0);
  }

  70% {
    clip: rect(64px, 9999px, 4px, 0);
  }

  75% {
    clip: rect(16px, 9999px, 156px, 0);
  }

  80% {
    clip: rect(64px, 9999px, 42px, 0);
  }

  85% {
    clip: rect(114px, 9999px, 176px, 0);
  }

  90% {
    clip: rect(136px, 9999px, 64px, 0);
  }

  95% {
    clip: rect(166px, 9999px, 48px, 0);
  }

  100% {
    clip: rect(41px, 9999px, 83px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(105px, 9999px, 178px, 0);
  }

  5% {
    clip: rect(16px, 9999px, 83px, 0);
  }

  10% {
    clip: rect(173px, 9999px, 86px, 0);
  }

  15% {
    clip: rect(54px, 9999px, 18px, 0);
  }

  20% {
    clip: rect(183px, 9999px, 121px, 0);
  }

  25% {
    clip: rect(103px, 9999px, 99px, 0);
  }

  30% {
    clip: rect(55px, 9999px, 37px, 0);
  }

  35% {
    clip: rect(131px, 9999px, 161px, 0);
  }

  40% {
    clip: rect(125px, 9999px, 39px, 0);
  }

  45% {
    clip: rect(193px, 9999px, 192px, 0);
  }

  50% {
    clip: rect(37px, 9999px, 200px, 0);
  }

  55% {
    clip: rect(155px, 9999px, 118px, 0);
  }

  60% {
    clip: rect(194px, 9999px, 97px, 0);
  }

  65% {
    clip: rect(166px, 9999px, 20px, 0);
  }

  70% {
    clip: rect(64px, 9999px, 4px, 0);
  }

  75% {
    clip: rect(16px, 9999px, 156px, 0);
  }

  80% {
    clip: rect(64px, 9999px, 42px, 0);
  }

  85% {
    clip: rect(114px, 9999px, 176px, 0);
  }

  90% {
    clip: rect(136px, 9999px, 64px, 0);
  }

  95% {
    clip: rect(166px, 9999px, 48px, 0);
  }

  100% {
    clip: rect(41px, 9999px, 83px, 0);
  }
}

.subtitle:before, .title:before {
  content: attr(data-content);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
