<html>

<head>
    <title>Re:Define</title>
    <link rel="stylesheet" type="text/css" href="../static/css/postsuccess.css" />
</head>

<body>
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/camera">Camera</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <!--        <li><a href="about.asp">About</a></li>-->
    </ul>

    <div id="message">
        <h1> Your upload has been successful. Make your way to the navigation page to see your newly styilized selfie!</h1>
        <p>Web App made by Judy Chen, Bryan Valarezo, Immanuel Almosara</p>
    </div>


</body>

</html>
